{% extends 'shared/base.html' %}
{% block page_content %}

		<h1 class="text-center">{% block page_title %}{% endblock %}</h1>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<form method="post" class="furniture-form" action="{% url 'create pet' %}" enctype="multipart/form-data">
					{% csrf_token %}
					{% block form %}{% endblock %}
					<button class="btn btn-primary mt-2" type="submit">{% block btn_name %}Create{% endblock %}</button>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>

{% endblock %}
